.formAdvice{
    position: fixed;
    bottom: 1.3rem;
}

.inputAdvice{
    margin-right: .5rem;
    border: none;
    border-radius: 0.5rem;
    width: 20rem;
    background-color: var(--secondary-dark-grayish-blue);
    color: var(--primary-cyan);
    padding: .4rem;
    box-shadow: rgba(88, 87, 87, 0.35) 0px -50px 36px -28px inset;
}
.inputAdvice:focus{
    outline: none;
}

.btnAdvice{
    border: none;
    background-color: var(--primary-green);
    color: var(--secondary-dark-blue);
    border-radius: 0.3rem;
    padding: .3rem 1rem;
}