@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root{
    --primary-cyan: hsl(193, 38%, 86%);
    --primary-green: hsl(150, 100%, 66%);
    --secondary-grayish-blue: hsl(217, 19%, 38%);
    --secondary-dark-grayish-blue: hsl(217, 19%, 24%);
    --secondary-dark-blue: hsl(218, 23%, 16%);
}
body{
    background-color: var(--secondary-dark-blue);
    color: var(--primary-cyan);
    font-size: 28px;
    font-weight: 800;
    margin: 0;
}
html{
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
.app{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}